<div class="jztop">
</div>
<div class="container">
  <div class="bloglist f_l">
    <% for (item of newsList) {%>
      <!--@@@@第一篇文章开始@@@@-->
      <h3>
        <a href="/picInfo/<%=item._id%>" target="_blank">
          <%=item.title%>
        </a>
      </h3>
      <figure>
        <img src="images/img_1.jpg" alt="<%=item.title%>">
      </figure>
      <ul>
        <p>
          <%=item.desc%>
        </p>
        <a title="" href="/picInfo/<%=item._id%>" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview">
        <span></span>
        <span>作者:
          <%=item.author%>
        </span>
        <span>个人博客：[
          <a href="<%=item.blog%>">前端笔记</a>]</span>
      </p>
      <% }%>
  </div>

  <!--首页主要文章部分结束-->

  <div class="r_box f_r">
    <div class="tit01">
      <h3 class="tit">关注我</h3>
      <div class="gzwm">
        <ul>
          <li>
            <a class="email" href="tel:15712892952" target="_blank">我的电话</a>
          </li>
          <li>
            <a class="qq" href="mailto:15712892952@163.com" target="_blank">我的邮箱</a>
          </li>
          <li>
            <a class="tel" href="http://wpa.qq.com/msgrd?v=3&uin=949277923&site=qq&menu=yes" target="_blank" title="如果QQ未被唤起请按照提示添加我的QQ">我的QQ</a>
          </li>
          <!-- <li>
            <a class="prize" href="#" title="个人奖项">个人奖项</a>
          </li> -->
        </ul>
      </div>
    </div>
    <!--tit01 end-->

    <div class="tuwen">
      <h3 class="tit">图文推荐</h3>
      <!-- <%=recommend%> -->
      <ul>
        <% for(item of recommend) {%>
        <li>
          <a href="/picInfo/<%=item._id%>">
            <img src="images/02.jpg">
            <b><%=item.title%></b>
          </a>
          <p>
            <span class="tulanmu">
              <a href="/picInfo/<%=item._id%>"><%=item.source%></a>
            </span>
            <span class="tutime"><%=item.updateTime%></span>
          </p>
        </li>
        <%}%>
        
      </ul>
    </div>
    <div class="ph">
      <h3 class="tit">点击排行</h3>
      <ul class="rank">
        <% for (item of clickRank){%>
        <li>
          <a href="/picInfo/<%=item._id%>" title="<%=item.title%>" target="_blank"><%=item.title%></a>
        </li>
        <%}%>
      </ul>
    </div>
    <div class="ad">
      <img src="images/wx.jpg" height="300" width="110"> </div>
  </div>
</div>

<!-- container代码 结束 -->
<div class="jzend"></div>

