<!doctype html>
<html>
<head>
  <title>bill个人♠★♠一个前端设计的热血青年</title>
  <%- include('include/meta')%>
  <%- include('include/link')%>
  <%- include('include/script')%>
</head>
<body>
  <div class="topnav">
    <a href="#" target="_blank">bill个人♠★♠一个前端设计的热血青年</a>――本站文章部分来自网络
    <a href="#" target="_blank">如有涉嫌侵权，请与本站邮箱联系</a>
  </div>
  <div id="wrapper">
    <%- include include/header%>
    <%- body %>
    <%- include include/footer%>
  </div>
</body>

</html>