
<div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="/newslistpic" >技术文章</a></span><b>技术文章</b></h2>
      <div class="dtxw box">
        <% for (item of newsList) {%>
        <li>
          <div class="dttext ">
            <ul>
              <h2><a href="/picInfo/<%=item._id%>" target="_blank"><%=item.title%></a></h2>
              <p><%=item.desc%></p>
              <span><%=moment(item.updateTime).format('YYYY-MM-DD hh:mm:ss')%></span>
            </ul>
          </div>
          <!-- <div class="xwpic f_r"><a href="/picInfo/<%=item._id%>" target="_blank"><img src="images/02.jpg"></a></div> -->
        </li>
        <% }%>
      </div>
      <div class="pagelist">页次：<%=page%>/<%=totalPage%> 每页<%=pageSize%>条
        <a href="/newslistpic?page=1">首页</a>
        <a href="/newslistpic?page=<%=pagePrev%>" >上一页</a>
        <a href="/newslistpic?page=<%=pageNext%>" >下一页</a>
        <a href="/newslistpic?page=<%=totalPage%>">尾页</a>
      </div>
    </div>
  </div>
  <div class="blank"></div>
</div>
  