
  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">【<%= info.title%>】</a></span><b>【<%= info.title%>】</b></h2>
        <div class="f_box">
          <p class="a_title"><%= info.title%></p>
          <p class="p_title"></p>
            <p class="box_p"><span>发布时间：<%= info.updateTime%></span><span>作者：<%= info.author%></span><span>来源：<%= info.source%></span><span>点击：<%= info.pv%></span></p>
          <!-- 可用于内容模板 -->
        </div>
        <ul class="about_content">
          <%-info.content %>
        </ul>

        <!-- container代码 结束 -->

          <div class="shang_a">
              <div class="one"></div>
              <div class="two"><img src="images/weixin.png" alt="" width="200" height="200"></div>

          </div>
      </div>
    </div>
    <div class="blank"></div>
  </div>
  <!-- container代码 结束 -->